/*FAQ*/
.faq-heading{
    border-bottom:  #59493b;
    padding: 20px 60px;
} 
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;
  
}


/* Style the buttons that are used to open and close the faq-page body */
.faq-page { 
    color: #59493b;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
} 
.faq-body{ 
    margin: auto; 
    text-align: center;
   width: 50%; 
   padding: auto;
   
} 

.active,
.faq-page:hover {
    background-color: #F0DED0;
} 

.faq-body {
    padding: 0 18px;
    background-color: #F0DED0;
     overflow: hidden;
}
.faq-page:after {
    font-size: 13px;
    color: #59493b;
    float: right;
    margin-left: 5px;
} 
